## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: ebb36_0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

## ebb36_0
[mcu ebb36_0]
canbus_uuid: 244d48a298ae

[fan] #Part Cooling Fan
pin: ebb36_0:FAN0

[heater_fan T0_hotend_fan] #Hotend Fan
pin: ebb36_0:FAN1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[extruder]
step_pin: ebb36_0:EXT_STEP
dir_pin: ebb36_0:EXT_DIR
enable_pin: !ebb36_0:EXT_EN
rotation_distance: 45.352   ##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / <distance_requested>
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.600
filament_diameter: 1.75
#Hotend section
heater_pin: ebb36_0:HE0
sensor_type: Generic 3950
sensor_pin: ebb36_0:TH0
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 150
max_extrude_cross_section: 5
max_extrude_only_distance: 150.0
control: pid
pid_Kp: 39.591
pid_Ki: 13.197
pid_Kd: 29.693

[tmc2209 extruder]
uart_pin: ebb36_0:EXT_UART
interpolate: true
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8