#https://reemo3dp.github.io/klipper-led_effect/?fps=24&layers=heater(heater%3Dheater_bed%2CminTemp%3D20%2CdisableOnceReached%3D1%2CcolorSpace%3Dhsl)+top+%2300AA00%2C+%23AAAA00%2C+%23FF0000%2C++%23FF0000%2C+%23FF0000%0Aheater(heater%3Dhotend%2CminTemp%3D20%2CdisableOnceReached%3D1%2CcolorSpace%3Dhsl)+top+%2300AA00%2C+%23AAAA00%2C+%23FF0000%2C++%23FF0000%2C+%23FF0000%0Alinearfade(duration%3D5)+multiply+%23FFFFFF%2C+%23AAAAAA%2C+%23555555%0Acomet(speed%3D0.5%2CtailLength%3D5%2CcolorSpace%3Dhsl)+add+%23FF6C11%2C+%23FF3864%2C+%232DE2E6%2C+%23261447%2C+%230D0221%2C+%23023788%0A&ledCount=10   

####################### LED DEFINITIONS #########################
#################################################################

[neopixel caselight]
pin: PB0
chain_count: 45
color_order: RGB

[neopixel ebb36_0]
pin: ebb36_0:RGBLED
chain_count: 3
color_order: GRBW

[output_pin electronics_light]
pin: PD14
value: 0
shutdown_value: 0
  
[delayed_gcode set_leds_on_boot]
initial_duration: 1
gcode:
   SET_LED_EFFECT EFFECT=lighting_tool
   G4 P500
   SET_LED_EFFECT EFFECT=heater_status_extruder
   G4 P1250
   LIGHTS_ON

######################### LED EFFECTS ###########################
#################################################################

[led_effect heater_status_extruder]
autostart:  true
frame_rate: 1
heater:     extruder
leds: 
   neopixel:ebb36_0 (3)
layers:
   heater(minTemp=40,disableOnceReached=0,heater=extruder) top (1, 0, 0, 0) #extruder over 40C
   static 6 1 top (0, 0, 0, 1.0)

[led_effect lighting_tool]
autostart: false
frame_rate: 1
leds:
   neopixel:ebb36_0 (1-2)
layers:
   static 1 0 top (0, 0, 0, 1)

[led_effect lighting_case]
autostart: false
frame_rate: 1
leds:
   neopixel:caselight
layers:
   static 1 0 top (0.961, 1.0, 0.388)  

[led_effect aurora]
autostart:  false
frame_rate: 16
leds:
   neopixel:caselight
layers:
   gradient 0.15 0.5 top  $bb00e2, $00e2e2, $00e202 #(1.00, 0, 0), (0, 1.00, 0), (0, 0, 1.00)    #$bb00e2, $00e2e2, $00e202

########################## LED MACROS ###########################
#################################################################

[gcode_macro LIGHTS_ON]
gcode:
   SET_PIN PIN=electronics_light VALUE=1
   SET_LED_EFFECT EFFECT=lighting_case REPLACE=1

[gcode_macro LIGHTS_OFF]
gcode:
   SET_PIN PIN=electronics_light VALUE=0
   SET_LED_EFFECT EFFECT=lighting_case STOP=1 

[gcode_macro TOOL_LIGHT_ON]
gcode:
   SET_LED_EFFECT EFFECT=lighting_tool

[gcode_macro TOOL_LIGHT_OFF]
gcode:
   SET_LED_EFFECT EFFECT=lighting_tool STOP=1  

[gcode_macro Aurora]
gcode:
   SET_LED_EFFECT EFFECT=aurora REPLACE=1
   SET_LED_EFFECT EFFECT=heater_status_extruder

