## Material configuration parameters applied during START_PRINT by using the slicer MATERIAL variable
## FYI, retract paramaters are used only if firmware retraction is enabled, filter speed (in %) is used if
## there is a filter installed on the machine, filament sensor is on or off if installed, etc...
## If you are using another material, just extend the list bellow with a new material and everything should work :)

##bambu filament with o.4mm nozzle is 0.04
[gcode_macro _USER_VARIABLES]
variable_material_parameters: {
        'PLA_Generic': {
            'pressure_advance': 0.0525,
            'retract_length': 0.75,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 0,
            'additional_z_offset': 0.015,
            'filament_sensor': 1
        },
        'PETG_nobufil': {
            'pressure_advance': 0.0750,
            'retract_length': 1.4,
            'unretract_extra_length': 0,
            'retract_speed': 60,
            'unretract_speed': 20,
            'filter_speed': 40,
            'additional_z_offset': -0.014,
            'filament_sensor': 1
        },
        'PETG_bambu': {
            'pressure_advance': 0.025, 
            'retract_length': 0.9,
            'unretract_extra_length': 0,
            'retract_speed': 60,
            'unretract_speed': 20,
            'filter_speed': 40,
            'additional_z_offset': 0.025,
            'filament_sensor': 1
        },                    
        'PCTG_nobufil': {
            'pressure_advance': 0.0650,
            'retract_length': 1.4,
            'unretract_extra_length': 0,
            'retract_speed': 60,
            'unretract_speed': 20,
            'filter_speed': 0,
            'additional_z_offset': 0.0,
            'filament_sensor': 1
        },        
        'ABS_nobufil': {
            'pressure_advance': 0.0380,
            'retract_length': 0.65,
            'unretract_extra_length': 0.05,
            'retract_speed': 60,
            'unretract_speed': 20,
            'filter_speed': 80,
            'additional_z_offset': +0.005,
            'filament_sensor': 1
        },
        'ABS_polymaker': {
            'pressure_advance': 0.0360,
            'retract_length': 0.85,
            'unretract_extra_length': 0.05,
            'retract_speed': 80,
            'unretract_speed': 20,
            'filter_speed': 80,
            'additional_z_offset': 0.04,
            'filament_sensor': 1
        },        
        'ASA_filamentum': {
            'pressure_advance': 0.0625,
            'retract_length': 0.85,
            'unretract_extra_length': 0,
            'retract_speed': 20,
            'unretract_speed': 60,
            'filter_speed': 80,
            'additional_z_offset': 0,
            'filament_sensor': 1
        },        
        'TPU_bambu': {
            'pressure_advance': 0.078,
            'retract_length': 0.7,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 40,
            'additional_z_offset': -0.05,
            'filament_sensor': 1
        },
        'TPU_generic': {
            'pressure_advance': 0.078,
            'retract_length': 0.35,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 20,
            'filter_speed': 40,
            'additional_z_offset': -0.325,
            'filament_sensor': 1
        },                
    }
