[include fluidd.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_18002A000550314D35323820-if00
restart_method: command

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500  
#max_accel: 7000 max_accel value in hardware/input_shaper.cfg 
max_z_velocity: 30
max_z_accel: 200

#####################################################################
#   X/Y Stepper Settings
#####################################################################
[stepper_x] #B Stepper - Left
step_pin: PE2 #PF13
dir_pin: PE3 #PF12
enable_pin: !PD4 #!PF14
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:400  
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -0.5
position_endstop: 251.7
position_max: 252
homing_speed: 75
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PE1 #PC4
interpolate: true
sense_resistor: 0.110
run_current: 1.3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 3
#driver_HEND: 3
diag_pin: ^PG14 #^PG6
#driver_SGTHRS: 136

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah

[stepper_y] #A Stepper - Right
step_pin: PE6 #PG0
dir_pin: PA14 #PG1
enable_pin: !PE0 #!PF15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:400
endstop_pin: PG9
position_min: -2
position_endstop: 259
position_max: 259
homing_speed: 90
second_homing_speed: 45
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD3 #PD11
interpolate: true
sense_resistor: 0.110
run_current: 1.3 #1.35
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 3
#driver_HEND: 3

[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
 
#####################################################################
#   Z Stepper Settings
#####################################################################
[stepper_z] #Z0 Stepper - Front Left
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 245
position_min: -5
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
stealthchop_threshold: 999999
run_current: 1.1 #1.3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 3
#driver_HEND: 3

[autotune_tmc stepper_z]
motor: ldo-42sth48-2004ac

[stepper_z1] #Z1 Stepper - Rear Left
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
stealthchop_threshold: 999999
run_current: 1.1 #1.3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 3
#driver_HEND: 3

[autotune_tmc stepper_z1]
motor: ldo-42sth48-2004ac

[stepper_z2] #Z2 Stepper - Rear Right
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
stealthchop_threshold: 999999
run_current: 1.1 #1.3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 3
#driver_HEND: 3

[autotune_tmc stepper_z2]
motor: ldo-42sth48-2004ac

[stepper_z3] # Z3 Stepper - Front Right
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
stealthchop_threshold: 999999
run_current: 1.1 #1.3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 3
#driver_HEND: 3

[autotune_tmc stepper_z3]
motor: ldo-42sth48-2004ac

#####################################################################
#   Extruder & Hotend & Bed Heater
#####################################################################
[heater_bed]
heater_pin: PA3
sensor_type:Generic 3950
sensor_pin: PF3
max_power: 0.8
min_temp: 0
max_temp: 120
control: pid
pid_kp: 38.468
pid_ki: 1.465
pid_kd: 252.446

#####################################################################
#   QGL and Bed Mesh
#####################################################################

[quad_gantry_level]
gantry_corners:
   -60,-10
   310, 320
points:
   20,10
   20,210
   230,210
   230,10
speed: 250
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01
max_adjust: 10

[bed_mesh]
zero_reference_position: 125.9, 129.5 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 15, 30 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 235, 220 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

#[bed_mesh]
#algorithm: bicubic
#speed: 250
#horizontal_move_z: 5
#mesh_min: 20, 33
#mesh_max: 230, 228
#probe_count: 30, 30

[skew_correction]
#XY
#Length AC = 140.9
#Length BD = 141.45
#Length AD = 99.96
#XZ
#Length AC = 141.0
#Length BD = 141.0
#Length AD = 99.96
#YZ
#Length AC = 141.01
#Length BD = 140.92
#Length AD = 99.96
#SET_SKEW XY=140.9,141.45,99.96 XZ=141.0,141.0,99.96 YZ=141.01,140.92,99.96

[respond]
default_type: echo
default_prefix:

[exclude_object]

[force_move]
enable_force_move: True

[idle_timeout]
timeout: 1800
gcode:
   M84
   LIGHTS_OFF

[include filaments.cfg]
[include hardware/*.cfg]
[include variables.cfg]
[include macros/*/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction v2skew]
#*# xy_skew = -0.0038959027592792724
#*# xz_skew = 0.0
#*# yz_skew = 0.0006384667191478702
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4408564938429829,1.9005490574699215,0.8278342004055923,0.3839796160484029,0.45622588971638506,0.5562533567761869,-0.28895289633607313,-0.491730194076174,0.3644874802477151,0.3525467778124588
#*# domain = 3.211807506833833e-07,3.370612303611172e-07
#*# z_offset = 0
#*# reference_temperature = 27.14
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1368
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
